
@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Encuesta</h2>*@

@*<iframe width="1080" height="680" src="https://app.powerbi.com/view?r=eyJrIjoiZDcxNzgwYzctMDViYy00MWJkLTgzMmItOGUyOTQ3MTEwZmE0IiwidCI6ImMwMTA4YjZhLTAxYjMtNDY2ZS1hZTYwLTU5OThiNmUyMTE4NSJ9" frameborder="0" allowFullScreen="true"></iframe>*@

<iframe  width="1080" height="680" src="https://app.powerbi.com/view?r=eyJrIjoiNWE0ODhkMTUtZTY3MC00NDA2LTg2NmUtODI4ZTM4YmI5ZjZjIiwidCI6ImMwMTA4YjZhLTAxYjMtNDY2ZS1hZTYwLTU5OThiNmUyMTE4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
