
@{
    ViewBag.Title = "ListaEncuestaDeportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer  src="~/Scripts/APP/EncuestaDeportista/ListaEncuestaDeportistas.js"></script>
<h2>Listado Encuesta Deportistas</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-EncuestaDeportistas">
        <thead>
            <tr class="ColorTabla">
                <th>IDENTIFICACIÓN DEPORTISTA</th>
                <th>PRIMER NOMBRE</th>
                <th>SEGUNDO NOMBRE</th>
                <th>PRIMER APELLIDO </th>
                <th>SEGUNDO APELLIDO</th>
                <th>FECHA REGISTRO </th>
                <th> EDAD    </th>
                <th> DIRECCION    </th>
                <th> BARRIO </th>
                <th>DONDE NACISTES </th>
                <th>NACIONALIDAD  </th>


            </tr>
        </thead>
    </table>
</div>

