
@{
    ViewBag.Title = "ListaConsultaCitasPasaporteCancelado";
}
<script src="~/Scripts/APP/CitasPasaporte/ListaConsultaCancelado.js"></script>
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>LISTADO CITAS CANCELADAS PASAPORTE </strong></h1>
<hr width=100% align="right" size=200 color="black">

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-pasaportecancelado">
        <thead>
            <tr class="ColorTabla">


                <th>TIPO SOLICITUD</th>
                <th>ESTADO CITA</th>
                <th>FECHA CITA</th>
                <th>HORA CITA</th>
                <th>TIPO DOCUMENTO</th>
                <th>NUMERO DOCUMENTO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>TIPO PASAPORTE</th>

            </tr>
        </thead>
    </table>
</div>
