
@{
    ViewBag.Title = "ListaPoliticaSocial";
}

<script defer src="~/Scripts/APP/PoliticaSocial/ListasPoliticaSocial.js"></script>
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>LISTADO POLITICA SOCIAL </strong></h1>
<hr width=100% align="right" size=200 color="black">

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-politicasocial">
        <thead>
            <tr class="ColorTabla">

                <th>TIPO DOCUMENTO</th>
                <th>NUMERO DOCUMENTO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>FECHA NACIMIENTO</th>
                <th>EDAD</th>
                <th>SEXO</th>
                <th>IDENTIDAD DE GENERO</th>
                <th>ORIENTACIÓN SEXUAL</th>
                <th>DISCAPACIDAD</th>
                <th>GRUPO ETNICO</th>
                <th>VICTIMA CONFLICTO ARMADO</th>
                <th>POBLACIÓN PRIORIZADA </th>
                <th>CORREO ELECTRONICO </th>
                <th>TELEFONO CONTACTO </th>
                <th>MUNICIPIOS  </th>
                <th>ZONA </th>
                <th>NIVEL ESCOLARIDAD </th>
                <th>PROFESIÓN </th>
                <th>AMBIENTES LUDICOS </th>
                <th>AMBIENTES LUDICOS SEGUNDO </th>
                <th>AMBIENTES LUDICOS TERCERO </th>
                <th>FECHA REGISTRO</th>



            </tr>
        </thead>
    </table>
</div>