
@{
    ViewBag.Title = "ListaConsultaAgendaExcepcionesTramitadas";
}
<script defer src="~/Scripts/APP/AgendaExcepciones/ListaConsultaAgendaExcepcionesTramitadas.js"></script>
<h2>Listado Excepciones Tramitadas</h2>


<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-agendapasaportetramite">
        <thead>

            <tr class="ColorTabla">
                @*<th>ID</th>*@
                <th>TIPO SOLICITUD</th>
                <th>TIPO DOCUMENTO</th>
                <th>NUMERO DOCUMENTO</th>
                <th>ESTADO CITA</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>TIPO PASAPORTE </th>
                <th>FECHA REGISTRO </th>

            </tr>
        </thead>
    </table>
</div>