
@{
    ViewBag.Title = "ListaMedicosDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/Sucursal/ListaSucursal.js"></script>
<h2><strong>Listado Sucursales</strong></h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-Sucursales">
        <thead>

            <tr class="ColorTabla">
                
                <th>CODIGO SUCURSAL</th>
                <th>NOMBRE SUCURSAL</th>
                <th>DIRECCION</th>
                <th>CORREO ELECTRONICO</th>

            </tr>
        </thead>
    </table>
</div>