@{
    ViewBag.Title = "Home Page";
    @ViewBag.User
}

@*<iframe title="Oficina Pasaporte" width="1280" height="760" src="https://app.powerbi.com/view?r=eyJrIjoiMTY4NmIyNmMtM2Y5Yy00YzQwLTliMTYtMThlYmE5MzVmMjcwIiwidCI6ImMwMTA4YjZhLTAxYjMtNDY2ZS1hZTYwLTU5OThiNmUyMTE4NSJ9" frameborder="0" allowFullScreen="true"></iframe>*@
@*<iframe width="1080" height="680" src="https://app.powerbi.com/view?r=eyJrIjoiZDcxNzgwYzctMDViYy00MWJkLTgzMmItOGUyOTQ3MTEwZmE0IiwidCI6ImMwMTA4YjZhLTAxYjMtNDY2ZS1hZTYwLTU5OThiNmUyMTE4NSJ9" frameborder="0" allowFullScreen="true"></iframe>*@

@*<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>CENTRO BIOMEDICO</h5>

        </div>
        <div class="ibox-content">
            <div>
                <canvas id="doughnutChart" height="140"></canvas>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/js/plugins/chartJs/Chart.min.js"></script>
<script src="~/Scripts/APP/Reportes/TortaSexos.js"></script>*@


